body {
	background-color: #003366 ;
	margin:auto;
	font-family: "Verdana";
}
#header{
	height: 60px;
	background-color: #000000;
	background-image:url('images/patientservtopnav_r1_c1.gif');
	background-repeat:no-repeat;
}
#sidebar{
	width: 123px;
	float: left;
	background-color:#000000;
	color: #FFFFFF;
	margin-left: 3px;

}
#content{
	background-color:#003366;
	color: #FFFFFF;
	float: left;
	
	
}
#content form{
	display:inline;
}
#content table{
	background-color: #003366;
}
#wrapper{
	margin-left: -3px;
	margin-right: -3px;
	padding: 0;
	background-color: #003366;

}